{
    "name":"<%= id %>",
    "scripts": {
        "postCreateCommand": "",
        "onCreateCommand": "",
        "postAttachCommand": "",
        "postStartCommand": "",
        "updateContentCommand": ""
    }
}