{
    "folders": [
        {
            "name": "=== workspaces ===",
            "path": "../workspaces"
        },
        {
            "name": "=== env settings ===",
            "path": "../.devcontainer"
        }
    ],
    "settings": {}
}